ShufordTechSmartThings/SmarterThings.wgt
ShufordTechSmartThings/.sign/.manifest.tmp
ShufordTechSmartThings/.sdk_delta.info
ShufordTechSmartThings/.sign/signature1.xml
ShufordTechSmartThings/.sign/author-signature.xml